/* 
    Document   : gallery
    Created on : 10 Jun, 2013, 3:03:29 PM
    Author     : kumar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: arial, sans-serif, helvetica;
    color: #000;
    background-color: #fff;
}
#image-upload{
    padding: 5px;
    margin: 5px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    background-color: #f9f9f9;
}
ul#gallery-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.gallery-item{
    padding: 5px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    background-color: #f9f9f9;
    width: 200px;
    margin: 5px;
    float: left;
    text-align: center;
}
.gallery-item caption {
    display: block;
}
.gallery-item img {
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.imgcaption{
    
}
